
body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 18px;
}

     /* Style for skip link (optional but helps accessibility) */
 .skip-link {
     position: absolute;
     top: -40px;
     left: 0;
     background: #ff4000;
     color: #fff;
     padding: 8px;
     z-index: 100;
 }

.skip-link:focus {
    top: 0;
}

/*html {*/
/*    scroll-behavior: smooth;*/
/*}*/
